<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport"
          content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="https://fonts.googleapis.com/css?family=Merriweather|Roboto+Condensed:700,700i" rel="stylesheet">
    <!-- Use the title from a page's frontmatter if it has one -->
    <title><%= current_page.data.title %></title>
<!--     <meta name="description" content="Agence de Création Digitale basée à Paris, Poulpe créer des expériences digitales innovantes et créatives."/>

    <meta property="og:type" content="article"/>
    <meta property="og:url" content="http://2018.poulpe.co"/>
    <meta property="og:title" content="Poulpe - Agence Digitale Agile"/>
    <meta property="og:image" content="https://raw.githubusercontent.com/Poulpes/wishes/master/source/images/fb_img.jpg"/>
    <meta property="og:description" content="Agence de Création Digitale basée à Paris, Poulpe créer des expériences digitales innovantes et créatives."/>
    <meta property="fb:app_id"/> -->

    <%= stylesheet_link_tag "application" %>
    <%= javascript_include_tag "application" %>
    <%= favicon_tag 'images/favicon.png' %>
  </head>
  <body>

    <%= yield %>
  </body>
</html>
